%strong
  %font{ size: '6' }= @article.title
%br
%strong author: 
= link_to @article.user.email, articles_path(author: @article.user.email)
%br
%strong posted at:
= @article.created_at
%br
%strong tags: 
- @article.tags.split(" ").each do |tag|
  = link_to tag, articles_path(tag: tag)
%br
%br
= simple_format @article.text

.new_comment
  =render 'comments/new'

.comments
  =render 'comments/index'
  